<div class="col-auto mb-3">

  <div class="card h-100 bg-light">

    <div class="card-header d-flex justify-content-between">
      <div class=" card-body px-0 py-0">
        <div class="header-size d-inline" style="font-weight: bold;">Wednesday</div>
      </div>
      <div class="text-muted header-size">5 Dec</div>

    </div>

    <ul class="list-group list-group-flush" style="border-top: none">

      <li class="list-group-item px-0 py-0 bg-ligh">
        <div class="card-body">
          <!-- <span>
            <h5 class="card-subtitle mb-2" style="display:inline;">Morning</h5>
            <img src="" alt="img">
          </span>
          <p class="card-text">Some quick example text.</p> -->
          <span>
            <h5 class="card-subtitle mb-2" style="display:inline;">Morning</h5>
            <h5 class="d-inline pl-2">12°</h5>
            <p class="d-inline text-muted">/ feels: 8°</p>
          </span>
        </div>
      </li>

      <li class="list-group-item px-0 py-0 bg-ligh">
        <div class="card-body">
          <span>
            <h5 class="card-subtitle mb-2" style="display:inline;">Day</h5>
            <h5 class="d-inline pl-2">12°</h5>
            <p class="d-inline text-muted">/ feels: 8°</p>
          </span>
        </div>
      </li>

      <li class="list-group-item px-0 py-0 bg-ligh">
        <div class="card-body">
          <span>
            <h5 class="card-subtitle mb-2" style="display:inline;">Night</h5>
            <h5 class="d-inline pl-2">12°</h5>
            <p class="d-inline text-muted">/ feels: 8°</p>
          </span>
        </div>
      </li>

    </ul>

    <div class="card-footer text-muted" style="border-top: none">
      Light rain
      <img class="d-inline" src="http://openweathermap.org/img/wn/10d@2x.png" alt="img">
    </div>

  </div>

</div>
